*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    clear: both;
    }


body{
  margin:0;
  padding:0;
  width:100%;
  font-family: Georgia,helvetica;
  /*background-image: url('../images/dinner copy.png') ;*/
  }


header{
  margin:auto;
  width:100%;
  height:90px;
  /*background-color:#425E78;*/
  border-bottom:8px solid #000;
  min-height:90px;
  color:#fff;
  text-align: center;
  /*overflow: hidden;*/
  /*background: url('../images/dinner copy.png')no-repeat 80%;*/
  }

  .header-container{
    clear:both;
    margin-top:10px;
    overflow:hidden;
    /*background-color: red;*/
    width:100%;
    }



    header #logo{
      margin:auto;
      width:480px;
      /*background-color: blue;*/
      padding-bottom: 10px;
      }


.logo-image img{
    clear:both;
    width:40px;
    height:40px;
    background-color: blue;
    }



    header #logo .logo-image{
      width:45px;
      height:45px;
      position:relative;
      top:7px;
      }



  header #logo a .highlight{
    color:#a91f01;
    font-weight: bold;
    }


    header #logo a .highlight:hover{
    color:rgba(90, 63, 63, 0.06);
    font-weight: bolder;
    }



  header #logo a{
    text-decoration: none;
    font-size:300%;
    font-style: oblique;
    font-weight: bold;
    color:#000;
    margin:auto;
    text-shadow:5px 5px 5px #888888;

  }
  header #logo a:hover{
    color:rgba(90, 63, 63, 0.06);
    font-weight: bolder;
    }

  #body-container{
    width:100%;
    height:100%;
    /*background-image: url('../images/dinner opac copy.png');*/
    /*background-image: url('../images/dinner-blur.png');*/
    background-image: url('../images/dinner-blur1.png');
    background-size: cover;
    /*opacity:.3;*/
    padding-top:60px;
    padding-bottom:100px;
    }


    .title{
      width:550px;
      color:#fff;
      /*background-color:#ccc;*/
      margin:auto;
      text-align: center;
    }


    #form-container{
      clear:both;
      width:40%;
      height:auto;
      margin:auto;
      overflow:hidden;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
      margin-top:60px;
      box-shadow: 2px 2px rgba(255,255,255,0.5);
      color:#425e78;
      font-weight: bold;
      }

      .login-form{
        /*background-color: red;*/
        overflow:hidden;
      }


    form{
      clear:both;
      width:80%;
      margin:auto;
      margin-top:70px;
      font-size: 150%;
      /*background-color:red;*/
      }


    form .login{
      color:#425e78;
      width: 300px;
      height:25px;
      border:0;
      border-radius: 5px;
      -webkit-border-radious:5px;
      -o-border-radius:5px;
      -moz-border-radius:5px;
      }

    /*form */.sub{
      font-size: 20px;
      width: 300px;
      height:60px;
      width:300px;
      }


      form a{
        font-size: 14px;
        color:#425e78;
        text-decoration: none;
        }


      .sign-up{
        float:right;
        /*background-color: blue;*/
        margin-right:10%;
        margin-top:70px;
        margin-bottom:20px;
        }
        .sign-up a{
        color:#425e78;
        }


        footer{
          width:100%;
          background-color:#292c2f;
          /*background-color: rgba(76, 74, 74, 0.84);*/
          overflow: hidden;
          /*border: 2px solid black;*/
          margin-top:40px;
          }



          footer .footer-panel-default{
            position:relative;
            overflow: hidden;
            margin:auto;
            margin-top:40px;
            margin-bottom: 20px;
            height:auto;
            width:90%;
            border-radius: 10px;
            /*background-color: rgba(76, 74, 74, 0.3);
            box-shadow: 2px 2px rgba(255,255,255,0.06);*/
            }

            .clearfix:before{
              content: "";
              display: table;
              clear: both;
              }
              .clearfix:after{
                content: "";
                display: table;
                clear: both;
                }


                footer .footer-left-panel{
                    float:left;
                    width:300px;
                    margin:40px;
                    height:auto;
                    /*background-color: green;*/
                    }


                  footer .footer-left-panel .dyno{
                  line-height: 1.0;
                  font-size: 200%;
                  color:#fff;
                  font:normal 36px 'Cookie', cursive;
                  }


                  footer .footer-left-panel .dev{
                    color:#a92a01;
                    font-weight: bold;
                    /*color:#01a9a4;*/
                    }


                    footer .footer-left-panel .home{
                      color:#eee;
                      font-size:18px;
                      }

                      footer .footer-left-panel .home:hover{
                      color:#ccc;
                      font-weight: bold;

                      }

                      .copyright{
                        font-size: 14px;
                        color:#aaa;
                      }



                      .footer-panel-default .contact-panel{
                        float:right;
                        width:300px;
                        /*background-color: red;*/
                        }


                        .footer-panel-default .contact-panel form{
                          clear:both;
                          /*background-color: red;*/
                          margin:auto;
                        }


                        footer form p{
                        color:#ddd;
                        }

                        footer form input{
                          padding:0;
                          height:30px;
                          width:250px;
                          margin-bottom:10px;
                          padding-left:10px;
                          background-color:rgba(72, 69, 69, 0.88);
                          border-radius: 5px;
                          box-shadow: 1px 1px rgba(255,255,255,0.09);
                          border:none;
                          color:#ddd;

                          }

                        footer form textarea{
                          color:#ddd;
                          background-color: rgba(72, 69, 69, 0.88);
                          height:60px;
                          width:250px;
                          border-radius: 5px;
                          border:none;
                          box-shadow: 1px 1px rgba(255,255,255,0.09);

                          }



                          footer form button{
                            float:right;
                          background-color:#b7b6b6;
                          width:130px;
                          height:25px;
                          font-size:12px;
                          border-radius: 5px;
                          font-weight: bold;
                          border:none;
                          box-shadow: 2px 2px rgba(255,255,255, .5);
                          }

                          footer form button:hover{
                            background-color:#ccc;
                            }





@media screen and (max-width:800px){

  header #logo{
    margin:auto;
    width:330px;
    /*background-color: blue;*/
    }


.logo-image img{
  clear:both;
  width:35px;
  height:35px;
  /*background-color: blue;*/
  }




  header #logo .logo-image{
    width:35px;
    height:35px;
    position:relative;
    top:7px;
    }


  header #logo a{
    text-decoration: none;
    font-size:200%;
    font-style: oblique;
    font-weight:800;
    color:#000;
    margin:auto;
    text-shadow:5px 5px 5px #888888;
    }


    .title{
      width:330px;
      font-size: 80%;
      }


        #form-container{
        width:80%;
        height:auto;
        }



        .login-form{
          /*background-color: red;*/
          overflow:hidden;
        }


      form{
        clear:both;
        width:80%;
        margin:auto;
        margin-top:50px;
        font-size: 100%;
        /*background-color:red;*/
        }


      form .login{
        color:#425e78;
        width:200px;
        height:25px;
        border:0;
        border-radius: 5px;
        -webkit-border-radious:5px;
        -o-border-radius:5px;
        -moz-border-radius:5px;
        }

      form .sub{
        font-size: 20px;
        width: 200px;
        height:60px;
        }


        form a{
          font-size: 12px;
          color:#425e78;
          text-decoration: none;
          }


        .sign-up{
          float:right;
          /*background-color: blue;*/
          margin-right:10%;
          margin-top:30px;
          margin-bottom:20px;
          }
          .sign-up a{
          color:#425e78;
          }

          /*footer{
            overflow:hidden;
            height:600px;
          }*/




          .footer-panel-default .contact-panel{
          margin-top:30px;
          margin-bottom:20px;
          width:80%;
          /*background-color: blue;*/
          }
